#layout{
    height:100vh;
}

.dashboard{
    height: 50%;
}

.control-pannel{
    background-color: aqua;
    width: 50%;
    height: 50%;
}

.dashboard-output{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}

.widget{
    background-color: blueviolet;
}
.slider{
    width: 100px;
}