#layout{
    background-color: rgb(0,0,63);
    height: 200vh;
    width: 100vw;
    color: rgb(80, 80, 215);
    font-family: monospace;
    display: grid;
    grid-template-columns: 1vw 49vw 49vw 1vw;
    grid-template-rows: 1vh 99vh  99vh 1vh;
    grid-template-areas:    '.  header  header  .'
                            '.  loader  loader     .'
                            '.  viz       viz       .'
                            '.  .       .       .';

    row-gap: 10px;
    column-gap: 10px;
}
.dashboard {
    background-color: rgb(0,0,88);
    max-height: 95vh;
    display: grid;
    grid-template-columns: 1vh 1fr 1vh;
    grid-template-rows:  1vh 1fr 1fr 1vh;
    row-gap: 1vh;
    grid-template-areas:    '.    .         .'
                            '.    ctrl      .'
                            '.    output    .'
                            '.    .         .';
}
.dashboard:hover{
    background-color: rgb(0,44,88);
}

#loader {
    grid-area: loader;
}

#visualizer {
    grid-area: viz;
} 

.control-pannel{
    grid-area: ctrl;
    background-color: rgb(0,0,114);
    height: 44vh;
    display: grid;
    grid-template-columns: 1vh repeat(4, 1fr) 1vh;
    grid-template-rows: 1vh repeat(2, 1fr) 1vh;
    grid-template-areas:    '.  .   .   .   .   .'
                            '.  w1  w2  w3  w4  .'
                            '.  w5  w6  w7  w8  .'
                            '.  .   .   .   .   .';
    column-gap: 5px;
    row-gap: 5px;
}
.control-pannel:hover{
    background-color: rgb(0, 57, 114);
}

.control-pannel >:nth-child(1){
    grid-area: w1;
}
.control-pannel >:nth-child(2){
    grid-area: w2;
}
.control-pannel >:nth-child(3){
    grid-area: w3;
}
.control-pannel >:nth-child(4){
    grid-area: w4;
}
.control-pannel >:nth-child(5){
    grid-area: w5;
}
.control-pannel >:nth-child(6){
    grid-area: w6;
}
.control-pannel >:nth-child(7){
    grid-area: w7;
}
.control-pannel >:nth-child(8){
    grid-area: w8;
}

.widget{
    background-color: darkblue;
}
.widget:hover{
    background-color: rgb(0,70,139);
}

.button-widget{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.button{
    color: rgb(108, 108, 224);
    background-color: darkblue;
}
.button:hover{
    background-color: rgb(0,70,139);
}

.slider-widget{
    display: grid;
    grid-template-columns: 20px auto;
}

.dropdown-widget{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#projection_widget{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.text-widget{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.text_input{
    height:25%;
    width: 75%
}
.dashboard-output{
    grid-area: output;
    background-color: darkblue;
    display: grid;
    height: 44vh;
    grid-template-columns: 1vh 1fr 1vh;
    grid-template-rows: 1vh 1fr 1vh;
}
.dashboard-output:hover{
    background-color: rgb(0,70,139);
}

#data_table{
    grid-column: 2;
    grid-row: 2;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
    color:rgb(76, 76, 238)!important;
}

