#layout{
    height:100vh;
}

.dashboard{
    height: 50%;
}

.control-pannel{
    background-color: #00ffff;
    width: 50%;
    height: 50%;
}
.control-pannel:hover{
    background-color: #0c5f5f;
}

.dashboard-output{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}
.dashboard-output:hover{
    background-color: #4c0a8a;
}

.widget{
    background-color: magenta;
}
.widget:hover{
    background-color: rgb(107, 14, 107);
}
.slider{
    width: 100px;
}
